# --- 1. DATABASE CONFIGURATION (PostgreSQL Local) ---
# Format: postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?schema=public

# DB Local PostgreSQL
# DATABASE_URL=""

# DB Supabase PostgreSQL
# DATABASE_URL=""

# Jika pakai connection pooler Supabase (opsional)
DATABASE_URL=""

# Supabase URL & anon key (buat nanti integrasi Supabase Auth)
# SUPABASE_URL=
# SUPABASE_KEY=

SUPABASE_URL=
SUPABASE_KEY=


# --- 2. SECURITY (Wajib buat Nuxt Auth nanti) ---
# Bisa diisi random string apa aja, minimal 32 karakter biar aman
NUXT_SECRET=""

# --- 3. AI API KEYS (Siapkan tempatnya dulu, isi nanti) ---
# Nanti kita isi ini pas mau nyalain fitur rekam & rangkum
OPENAI_API_KEY=""
GOOGLE_AI_API_KEY=""