# --- DATABASE CONFIG ---
# Isi dengan URL PostgreSQL lokal atau Supabase kamu
DATABASE_URL="postgresql://user:password@localhost:5432/db_name"

# --- SECURITY ---
# Isi dengan string acak (minimal 32 karakter)
NUXT_SECRET=""

# --- AI KEYS (Optional) ---
OPENAI_API_KEY=""
GOOGLE_AI_API_KEY=""